/*---------------------*/
/* Body and background */
/*---------------------*/
body {
  background-image:url(http://www.newsarama.com/images/i/000/137/161/original/StarWars_YOUNG_Connecting.jpg?1413902676?interpolation=lanczos-none&downsize=*:1400);
  font-family: 'Montserrat', sans-serif;
}
header {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.characterWrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    color: red;
}

.af{

 font-size: 70px;
 color: White;
 text-align: center;

}

#gameMessage {
  text-align: center;
  font-size: 10px;
  background-color: rgb(29, 234, 173);
}

#choose-enemy-button {
  visibility: hidden;
}

#available-to-attack {
  color: red;
}

#restart-button {
  visibility: hidden;
}

#turn-counter {
  font-size: 150%;
}


.character {
  width: 143px;
  margin: 0px 38px 0px 38px;
  cursor: pointer;
  display: inline-block;
}

.character img {
  border: 0 none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  
}

.character-name {
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
  font-family: 'Itim', cursive;
  font-size: 20px;
}

.character-health {
  text-align: center;
}

@media only screen and (max-device-width: 768px) {
  .character {
    display: block;
  height: 150px;    
  }
  #gameMessage {
  font-size: 12px;
  }
}


.attack {
  text-align: center;
}

.action {
  margin: 15px 0px;
}

#attack-button{
  visibility: hidden;
}

.btn {
  background: ##4a6cd4;
  color: #71e031; 
}

.enemy {
  
  width: 153px;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  background-color: #2196F3;
  float: right;
}

#attacker {
  padding: 5px;
  background-color: white;
}

.target-enemy {
  background-color: #2196F3;
  color: ##080a0c;
}


#available-to-attack-section {
  float: right;
}

#available-to-attack-section img {
  height: 100px;
}


#defender-name {
  text-align: center;
}
#defender-image {
  padding: 0px 16px;
  margin: 3px 0px;
}
#defender-health {
  text-align: center;
}


